// Iniciar servidor con ./bin/dev

.devise-container {
  border-radius: 10px;
  border: 1px solid $grey;
  font-size: 1.5rem;
  margin: 100px auto;
  padding: 30px;
  width: 600px;

  h2 { text-align: center; }

  form {
    display: flex;
    flex-direction: column;
    gap: 6px;

    label { font-size: 1.8rem; }

    .field input, .field textarea {
      background-color: $secundary-color;
      border: none;
      box-shadow: $low-shadow;
      padding: 12px 12px;;
      width: 100%;
    }

    input[type="checkbox"] { 
      box-shadow: none;
      width: auto; 
    }

    .actions {
      @include center-grid;
      margin: 12px 0;

      input[type="submit"] {
        border-radius: 8px;
        border: none;
        padding: 8px 0;
        width: 70%;
      }

      input[type="submit"]:hover {
        cursor: pointer;
        transform: scale(1.01);
      }
    }
  }
}

.btn-devise {
  border-radius: 8px;
  border: none;
  margin: 0 auto;
  padding: 8px 0;
  width: 70%;
}

.btn-devise:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.commerce-form { 
  margin-top: 30px;
  margin-bottom: 10px;
}
