<footer>
  <section class="footer-contact">
    <ul>
      <span>¡Tecnología al alcance de un CLIC!</span>
      <li>
        <i class="fa-brands fa-whatsapp"></i>
        <span>+52-312-777-6969</span>
      </li>
      <li>
        <i class="fa-solid fa-envelope"></i>
        <span>techclic@gmail.com</span>
      </li>
    </ul>
  </section>
  <section class="footer-info">
    <ul>
      <li><a href="/">Sobre nosotros</a></li>
      <li><a href="/">¿Qué hacemos?</a></li>
      <li><a href="/">Preguntas frecuentes</a></li>
      <li><a href="/">Contactanos</a></li>
    </ul>
  </section>
  <section class="footer-social">
    <div class="footer-social-icon">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
    </div>
    <span>Copyright 2022 TechClic. All rights reserverd</span>
  </section>
</footer>
