<nav>
  <section class="nav-searcher">
    <a href="/" class="logo">TechClic</a>
    <form action="">
      <input type="text">
      <button class ="searcher-submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
    <i class="fa-solid fa-cart-shopping"></i>
  </section>

  <section class="nav-filter">
    <ul class="nav-filter-left">
      <li><a href="/">Promociones</a></li>
      <li><a href="/">Nuevos Articulos</a></li>
      <li><a href="/">Hardware</a></li>
      <li><a href="/">Equipos Armados</a></li>
    </ul>
    <div class="nav-filter-right" data-controller="hello">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <span>Admin</span>
        <% elsif current_user.seller? %>
          <span>Vendedor</span>
        <% else %>
          <span>Comprador</span>
        <% end %>
      <% else %>
        <span>Invitado</span>
      <% end %>
      <div class="menu-icon" id="menu-icon" data-action="hello#menuInteraction">
        <i class="fa-solid fa-caret-down"></i>
      </div>
      <%= render "partials/options_menu" %>
    </div>
  </section>
</nav>
