<nav>
  <section class="nav-searcher">
    <span>TechClic</span>
    <form action="">
      <input type="text">
      <input type="submit" value="Aa">
    </form>
    <i class="fa-solid fa-cart-shopping"></i>
  </section>

  <section class="nav-filter">
    <ul class="nav-filter-left">
      <li><a href="/">Promociones</a></li>
      <li><a href="/">Nuevos Articulos</a></li>
      <li><a href="/">Hardware</a></li>
      <li><a href="/">Equipos Armados</a></li>
    </ul>
    <div class="nav-filter-right">
      <p>Mi cuenta</p>
    </div>
  </section>
</nav>
