<nav>
  <section class="nav-searcher">
    <a href="/" class="logo">TechClic</a>
    <form action="">
      <input type="text">
      <button class ="searcher-submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
    <i class="fa-solid fa-cart-shopping"></i>
  </section>

  <section class="nav-filter">
    <ul class="nav-filter-left">
      <li><a href="/">Promociones</a></li>
      <li><a href="/">Nuevos Articulos</a></li>
      <li><a href="/">Hardware</a></li>
      <li><a href="/">Equipos Armados</a></li>
    </ul>
    <div class="nav-filter-right">
      <% if !user_signed_in? %>
        <%= link_to 'Iniciar Sesión', new_user_session_path %>
      <% else %>
        <%= link_to "Cerrar sesión", destroy_user_session_path, data: { turbo_method: :delete } %>
      <% end %>
    </div>
  </section>
</nav>
