* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  min-height: calc(100vh - 230px);
  @include center-flex-column;
}

ul, ol, dl {
  margin: 0;
  padding: 0;
  list-style: none;
}
