* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  @include center-flex-column;
  margin: 40px auto;
  max-width: 1170px;
  min-height: calc(100vh - 230px);
}

ul, ol, dl {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $black;
  text-decoration: none;
}

.logo:hover { transform: scale(2); }
