<h1>Editing commerce</h1>

<%= render "form", commerce: @commerce %>

<br>

<div class="model-links">
  <%= link_to "Show this commerce", @commerce %>
  <%= link_to "Back to commerces", user_commerces_path(current_user) %>
</div>
