<%= render @commerce %>

<div class="model-links">
  <%= link_to "Editar datos del comercio", edit_commerce_path(@commerce) %>
  <%= link_to "Volver", user_commerces_path(current_user) %>
  <%= button_to "Eliminar registro", @commerce, method: :delete, class: 'btn btn-lg btn-primary' %>
</div>
