nav {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 10px 5%;

  a { color: $white; }

  .nav-searcher {
    border-bottom: 1px solid $black;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    width: 100%;

    .logo { font-size: 2.4rem; }

    .logo:hover { transform: scale(1.2); }

    form {
      display: flex;
      width: 60%;

      input[type="text"] { 
        border-radius: 5px 0px 0 5px;
        border: none;
        padding: 4px;
        width: 92%;
      }

      .searcher-submit {
        @include center-grid;
        border-radius: 0px 8px 8px 0px;
        border: none;
        width: 50px;

        i { font-size: 2rem; }
      }
    }

    i { 
      color: $white;
      font-size: 3rem;
      transform: rotateY(180deg);
    }
  }

  .nav-filter {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    padding-top: 4px;
    width: 100%;

    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      
      li {
        border-right: 1px solid $white;
        padding:  0 6px;
      }
    }

    .nav-filter-right {
      @include center-flex-row;
      color: $white;
      gap: 8px;
      position: relative;

      .menu-icon {
        @include center-grid;
        height: 20px;
        width: 20px;
      }

      .menu-icon:hover { border: 1px solid $white; }

      .options-menu {
        background: $primary-color;
        border-radius: 4px;
        box-shadow: $low-shadow;
        color: black;
        display: flex;
        flex-direction: column;
        padding: 16px;
        position: absolute;
        right: 0;
        top: 35px;
        width: 200px;
        z-index: 3;

        & > div {
          border-bottom: 1px solid $grey;
          display: flex;
          flex-direction: column;
        }
      }
    }

    .nav-filter-right p { margin: 0; }
  }

  a:hover { color: $black; }
}
