.alert {
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
  animation-name: error-animation;
  font-size: 1.5rem;
  left: 5%;
  position: fixed;
  top: 100px;
  width: 100%;
  width: 90%;
}

#hidden-div {
  display: none;
}

.upload {
  @include center-flex-column;
  background-color: $low-grey;
  justify-self: center;
  min-height: 150px;
  min-width: 150px;
  position: relative;

  img {
    display: none;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.photo {
  position: relative;

  .trash-icon {
    background-color: $grey-opacity;
    color: $black;
    cursor: pointer;
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.photo:hover {
  .trash-icon {
    @include center-grid;
  }
}

.file-field {
  label {
    display: grid;
    grid-template-rows: auto auto;
  }

  .upload-edit {
    img {
      display: block;
    }
  }
  
  .upload:hover {
    background-color: $grey!important; 
  }

  .input-file {
    display: none;
  }

}

@keyframes error-animation {
  50% { opacity: 1; }

  99% { z-index: 2; }

  100% {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}

.invalid-form {
  left: 5%;
  position: fixed;
  top: 100px;
  width: 90%;
}

.model-links {
  @include center-flex-row;
  flex-wrap: wrap;
  font-size: 1.6rem;
  margin: 50px;
  width: 40%;

  a {
    text-align: center;
    width: 50%;
  }
  
  a:hover { transform: scale(1.02); }

  form {
    @include center-grid;
    margin-top: 8px;
    width: 100%;

    button { width: 50%; }
  } 
}

.img-photo {
  display: inline-block;
  width: auto;
}
