.alert {
  font-size: 1.5rem;
  width: 100%;
}

#hidden-div {
  display: none;
}

#add { 
  grid-column: 2 / 3;
  justify-self: center;
}

.upload {
  @include center-flex-column;
  background-color: $low-grey;
  justify-self: center;
  min-height: 150px;
  min-width: 150px;
  position: relative;

  img {
    display: none;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.photos-field {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(80px, 150px));

  .photo {
    display: inline-block;
    flex-grow: 1;
    justify-self: center;
    max-height: 100%;
    object-fit: contain;
    width: 100%;

    img {
      max-height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}

.photos-delete {
  justify-content: space-between;

  .photo {
    img { object-fit: contain; }
  }
}

.file-field .photos-field {
  justify-self: baseline;
  min-height: 80px;
  min-width: 100%;
  width: 100%;
}


.photo {
  position: relative;
  z-index: 0;

  .trash-icon {
    background-color: $grey-opacity;
    color: $black;
    cursor: pointer;
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.photo:hover {
  .trash-icon {
    @include center-grid;
  }
}

.file-field {
  position: relative;

  label {
    width: 100%;
  }

  .upload-edit {
    img {
      display: block;
    }
  }
  
  .upload:hover {
    background: $grey !important;
  }

  .photos-bg {
    background-color: $grey-opacity;
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:hover .photos-bg {
    background-color: $grey-opacity;
    display: flex;
  }

  .input-file {
    display: none;
  }

}

.invalid-form { width: 100%; }

.model-links {
  @include center-flex-row;
  flex-wrap: wrap;
  font-size: 1.6rem;
  margin: 50px;
  width: 40%;

  a {
    text-align: center;
    width: 50%;
  }
  
  a:hover { transform: scale(1.02); }

  form {
    @include center-grid;
    margin-top: 8px;
    width: 100%;

    button { width: 50%; }
  } 
}

.img-photo {
  display: inline-block;
  width: auto;
}

.option-links {
  align-items: center;
  display: grid;
  font-size: 2rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 20px;
  width: 30%;

  a:hover {
    color: $black;
    text-decoration: underline;
  }

  form {
    width: 50%;
    grid-column: 1 / 3;

    button {
      border-radius: 8px;
      border: none;
      padding: 4px 16px;
      width: 100%;
    }

    button:hover { transform: scale(1.02); }
  }
}

.inactive { display: none !important; }

.filter-selected a { 
  color: $black; 
  font-weight: 900;
}

.general-filter {
  align-items: center;
  border-bottom: 1px solid $grey;
  display: flex;
  font-size: 2rem;
  justify-content: right;
  margin-bottom: 8px;
  padding-bottom: 4px;

  ul {
    gap: 8px;
    max-height: 30px;
    overflow: hidden;
    text-align: right;

    li { display: inline-block; }
  }

  a { 
    border-right: 1px solid $black; 
    padding-right: 8px;
  }

  i {
    font-size: 2.3rem;
    margin-left: 8px;

    &:hover {
      color: $primary-color;
      cursor: pointer;
    }
  }
}

.pagy-nav {
  align-items: center;
  background: none;
  color: $black;
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;

  a { color: $black; }

  a:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}
