.my-products {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, minmax(230px, 303px));
  grid-template-rows: repeat(370px);
  justify-content: left;
  width: 100%;

  .product-card {
    height: 100%;
    width: 100%;
  }
}
