.product-card {
  border-radius: 8px;
  border: 1px solid $low-grey;
  display: grid;
  grid-template-rows: 225px minmax(20px, 55px) 40px;
  height: 100%;
  row-gap: 10px;

  &:hover { border: 1px solid $grey; }

  figure {
    @include center-flex-row;
    border-bottom: 1px solid $low-grey;
    margin-bottom: 12px;
    margin: 0;
    padding: 4px;
    width: 100%;

    a {
      overflow: hidden;

      img {
        max-height: 220px;
        max-width: 220px;
        object-fit: cover;
      }
    }
  }

  .product-card-section {
    align-items: baseline;
    align-self: baseline;
    display: flex;
    justify-content: space-between;
    max-height: 100%;
    overflow: hidden;
    padding: 0 10px;

    a { width: 80%; }

    h3 {
      font-size: 1.5rem;
      text-align: justify;
    }

    & > div  {
      @include center-flex-row;
      font-size: 1.2rem;
      gap: 2px;

      i { color: $primary-color; }
    }

    & > span {
      color: $primary-color;
      font-size: 2rem;
    }

    button {
      align-items: center;
      background-color: $primary-color;
      border-radius: 8px;
      border: none;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      width: 100px;

      i, span { font-size: 1.4rem; }

      & > div { 
        @include center-grid;
        width: 28%;
      }

      i { background-color: $primary-color; }

      span {
        background-color: $secundary-color; 
        display: inline-block;
        width: 80%;
      }
    }
  }

  .product-price { 
    align-items: center;
    justify-content: space-between; 
  }
}
