.product {
  border-radius: 8px;
  box-shadow: $large-shadow;
  padding: 20px 40px;
  width: 100%;

  .product-info { 
    display: flex;
    gap: 30px;
    margin-top: 16px;
  }

  .product-left-section, .product-rigth-section { 
    max-width: 48%;
    min-width: 48%; 
  }

  .product-left-section {
    display: grid;
    grid-template-rows: 440px 40px;
  }

  .product-images {
    display: flex;
    gap: 6px;

    figure { margin: 0; }
  }

  .product-images img {
    object-fit: contain;
    width: 100%;
  }

  .product-image-main {
    @include center-grid;
    border-radius: 4px;
    border: 1px solid $low-grey;
    overflow: hidden;
    width: 90%;
    margin: 0;

    img { max-height: 440px; }
  }

  .product-images-list {
    -ms-overflow-style: none;  /* IE and Edge */
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 2px;
    row-gap: 4px;
    scrollbar-width: none;  /* Firefox */
    width: 10%;

    &::-webkit-scrollbar { display: none; }

    figure {
      @include center-grid;
      border-radius: 6px;
      box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
      height: 60px;
      padding: 2px;
    }
  }

  .product-seller-info {
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
    width: 100%;

    .product-seller {
      width: 70%; 

      i { font-size: 2rem; }
    }

    .product-score {
      justify-content: right;
      width: 30%; 
    }

    .product-score, .product-seller {
      align-items: center;
      display: flex;
      gap: 4px;
    }

    .product-score i { color: $primary-color; }
  }

  .product-right-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .product-description {
    display: flex;
    justify-content: space-between;
  }

  .product-description { height: 48%; }

  .product-features, .product-price { width: 48%; }

  .product-features {
    padding-left: 0;
    padding: 12px;

    h3 { font-size: 2rem; }

    p { font-size: 1.2rem; }
  }

  .product-price {
    border-radius: 10px;
    box-shadow: $medium-shadow;
    display: grid;
    padding: 12px;

    h3 {
      align-self: center;
      color: $primary-color;
      font-size: 2rem;
      margin: 0;
    }

    p {
      font-size: 1.4rem; 
      margin: 0;
      text-align: right; 
    }

    .btn-container {
      @include center-grid;
      width: 100%
    }

    input[type="number"] {
      background-color: $secundary-color;
      border-radius: 10px;
      border: none;
      font-size: 1.6rem;
      font-weight: bold;
      justify-self: right;
      padding-left: 14px;
      width: 20%;
    }

    button {
      background-color: $primary-color;
      border-radius: 8px;
      border: none;
      box-shadow: $medium-shadow;
      font-size: 1.3rem;
      margin-top: 6px;
      padding: 10px 20px;
      width: 80%;
    }

    .btn-add-cart { background-color: $secundary-color; }

    button:hover { transform: scale(1.02); }
  }

  .product-comments {
    border-radius: 10px;
    box-shadow: $low-shadow;
    padding: 10px 6px;

    h2 { border-bottom: 1px solid $grey; }

    .comment-show-more {
      @include center-grid;
      width: 100%;
      
      a {
        font-size: 1.4rem;
        text-align: center;
      }

      a:hover {
        color: $black;
        text-decoration: underline;
      }
    }
  }

  .product-comments-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .comment {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding: 6px;

      p { 
        margin: 0; 
        max-height: 60px;
        overflow: hidden;
      }
    }
  }
}