<div id="<%= dom_id product %>" class="product product-card">

  <figure>
  <% if product.photos[0] %>
    <%= image_tag product.photos[0].variant(resize_to_limit: [500, 500]) %>
  <% end %>
  </figure>

  <h3><%= product.name %></h3>
  
  <span><%= product.price %></span>

</div>
