
<div class="form-container" data-controller="hello">
  <h1>Registrar producto</h1>
  <%= render "form", product: @product %>
</div>

<br>

<div>
  <%= link_to "Back to products", products_path %>
</div>
